*.d
*.o
*.tlog
*.obj
*.opensdf
*.pdb
*.so
*.log
*.suo
*.udf
*.sdf
*.ilk
*.idb
*.exp
*.exe
obj
client_publish
assets
armeabi-v7a
downrec
saverec
log
Debug.win32
*.zip
Bugly
JftMergeSDK
.vs
GloryProject.vcxproj
/run
备份
/client/user_gameconfig.plist
/client/UserDefault.xml
/client/version.plist
/client.config
GloryProject.VC.VC.opendb
GloryProject.VC.db
/client/ciphercode
/frameworks/cocos2d-x/cocos/platform/android/java/bin/classes/com/enhance/gameservice/IGameTuningService.aidl
/frameworks/runtime-src/proj.android/bin/jarlist.cache
/frameworks/runtime-src/thirdlib/umeng_android/bin/jarlist.cache
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/bin/classes/org/cocos2dx/lib/BuildConfig.class
/frameworks/cocos2d-x/cocos/platform/android/java/bin/libcontrollermanualadapter.jar
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/bin/libcocos2dx.jar
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/gen/org/cocos2dx/lib/BuildConfig.java
/frameworks/runtime-src/proj.android/gen/com/umeng_social_sdk_res_lib/R.java
/frameworks/runtime-src/proj.android/gen/foxuc/qp/Glory/zjrtkj/BuildConfig.java
/frameworks/runtime-src/proj.android/gen/foxuc/qp/Glory/zjrtkj/R.java
/frameworks/runtime-src/thirdlib/umeng_android/gen/com/umeng_social_sdk_res_lib/BuildConfig.java
/frameworks/runtime-src/thirdlib/umeng_android/gen/com/umeng_social_sdk_res_lib/R.java
/client/base/config.json
/frameworks/runtime-src/proj.android/.settings/org.eclipse.jdt.core.prefs
/frameworks/runtime-src/proj.android/bin/R.txt
/frameworks/runtime-src/thirdlib/umeng_android/bin/R.txt
/frameworks/cocos2d-x/cocos/platform/android/libcocos2dx/bin/AndroidManifest.xml
/frameworks/runtime-src/proj.android/bin/AndroidManifest.xml
/frameworks/runtime-src/thirdlib/umeng_android/bin/AndroidManifest.xml
/frameworks/runtime-src/proj.android/gen
/frameworks/runtime-src/proj.android/.settings
/frameworks/runtime-src/proj.android/bin
/publish
/simulator
/client/game/yule/brnn/res/.DS_Store
/client/game/yule/brnn/src/*.DS_Store
/client/game/yule/brnn/src/views/.DS_Store
/frameworks/cocos2d-x/cocos/platform/android/java/bin
/frameworks/runtime-src/thirdlib/umeng_android/bin
.svn
/packages
