<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_cheer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1600},{343,312}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{343,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1600},{347,312}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,30},{347,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,1286},{353,312}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{353,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{375,314}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,28},{375,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,2},{377,316}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{377,316}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{373,320}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{373,320}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,320},{347,342}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{347,342}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{363,326}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{363,326}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,664},{377,312}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{377,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1029},{377,306}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,36},{377,306}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,978},{377,306}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{377,306}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,664},{373,310}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,32},{373,310}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,1039},{359,310}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,31},{359,310}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{665,1400},{349,312}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{349,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{661,1714},{335,312}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{335,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_cheer1.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9bd72ae5cbf3fe5e7fc8024f3c0dd7cb$</string>
            <key>textureFileName</key>
            <string>right_cheer1.png</string>
        </dict>
    </dict>
</plist>
