<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_common_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,1042},{389,344}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,350},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1040,1437},{389,344}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,696},{389,348}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{389,348}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1050},{389,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,350},{391,340}}</string>
                <key>offset</key>
                <string>{22,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,8},{391,340}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1386,1433},{357,344}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,4},{357,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1388,1042},{317,344}}</string>
                <key>offset</key>
                <string>{60,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,4},{317,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{437,348}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{437,348}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1616,694},{389,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,348},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{696,1046},{389,344}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,348},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,1441},{389,344}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{389,348}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{389,348}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,692},{389,348}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{389,348}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1225,694},{389,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1620,2},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1050},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1227,2},{391,344}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,1441},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{391,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{391,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{389,346}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{391,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{391,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1441},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_common2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:afef727881ad3b9995e0e0c6ca6fa857$</string>
            <key>textureFileName</key>
            <string>right_common2.png</string>
        </dict>
    </dict>
</plist>
