<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_cry_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{334,313}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{334,313}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,2},{334,313}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{334,313}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{334,313}}</string>
                <key>offset</key>
                <string>{3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,6},{334,313}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,293},{334,313}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{334,313}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{344,313}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{344,313}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,584},{322,317}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{322,317}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1686,584},{322,317}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{322,317}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{322,317}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{322,317}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,608},{322,317}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,0},{322,317}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,602},{322,307}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{322,307}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,602},{322,307}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{322,307}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1354,602},{322,307}}</string>
                <key>offset</key>
                <string>{-2,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,10},{322,307}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,871},{322,291}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,26},{322,291}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{684,586},{324,285}}</string>
                <key>offset</key>
                <string>{-3,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,32},{324,285}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,584},{324,285}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{324,285}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,584},{324,285}}</string>
                <key>offset</key>
                <string>{-3,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,33},{324,285}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1358,317},{326,283}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,34},{326,283}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,297},{328,285}}</string>
                <key>offset</key>
                <string>{-5,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,32},{328,285}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,295},{330,287}}</string>
                <key>offset</key>
                <string>{-6,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,30},{330,287}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{332,291}}</string>
                <key>offset</key>
                <string>{-7,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,26},{332,291}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,291},{336,293}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{336,293}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,291},{336,293}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{336,293}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,291},{336,293}}</string>
                <key>offset</key>
                <string>{-9,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,24},{336,293}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1032,2},{338,293}}</string>
                <key>offset</key>
                <string>{-10,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,24},{338,293}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,2},{340,289}}</string>
                <key>offset</key>
                <string>{-10,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,28},{340,289}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
            <key>right_cry_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,2},{340,287}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{340,287}}</string>
                <key>sourceSize</key>
                <string>{360,321}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_cry.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:374b045f32575c88747892b5ee6f2013$</string>
            <key>textureFileName</key>
            <string>right_cry.png</string>
        </dict>
    </dict>
</plist>
