<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_common_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,698},{391,344}}</string>
                <key>offset</key>
                <string>{21,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,3},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,696},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,350},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,350},{391,346}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{391,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1046,1394},{389,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1044},{389,348}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{389,348}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{395,698},{389,348}}</string>
                <key>offset</key>
                <string>{23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,0},{389,348}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{1582,696},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,350},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,1394},{389,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{47,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1584,2},{391,346}}</string>
                <key>offset</key>
                <string>{22,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,2},{391,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,696},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,350},{391,344}}</string>
                <key>offset</key>
                <string>{22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1175,1042},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1191,2},{391,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{391,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,1394},{389,346}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1394},{389,346}}</string>
                <key>offset</key>
                <string>{24,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,2},{389,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{391,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{391,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1048},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{391,344}}</string>
                <key>offset</key>
                <string>{23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,4},{391,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{393,1048},{389,344}}</string>
                <key>offset</key>
                <string>{24,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,4},{389,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{405,2},{391,346}}</string>
                <key>offset</key>
                <string>{23,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,2},{391,346}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{401,348}}</string>
                <key>offset</key>
                <string>{18,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,0},{401,348}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1384},{317,344}}</string>
                <key>offset</key>
                <string>{59,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,4},{317,344}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
            <key>right_common_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1566,1042},{355,340}}</string>
                <key>offset</key>
                <string>{40,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,6},{355,340}}</string>
                <key>sourceSize</key>
                <string>{437,348}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_common.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3efbbe5ac5e031311e51c73836d3a356$</string>
            <key>textureFileName</key>
            <string>right_common.png</string>
        </dict>
    </dict>
</plist>
