<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_cheer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{325,314}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,28},{325,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,318},{317,314}}</string>
                <key>offset</key>
                <string>{27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,28},{317,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{315,314}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{315,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,943},{307,314}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,28},{307,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,634},{309,314}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,28},{309,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1249},{313,312}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,30},{313,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{319,632},{309,314}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,28},{309,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,945},{301,312}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,30},{301,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{299,314}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,28},{299,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,948},{299,314}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{67,28},{299,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{329,316},{317,314}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,28},{317,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,2},{333,314}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{333,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,2},{335,312}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{335,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{335,312}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{335,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>right_cheer2.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a2f6be9f3b2761874e3c8faf4887a05$</string>
            <key>textureFileName</key>
            <string>right_cheer2.png</string>
        </dict>
    </dict>
</plist>
