<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_cheer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1438,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1079,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{357,341}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{357,341}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{357,329}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{357,329}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1422},{357,329}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{357,329}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{357,331}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{357,331}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,704},{357,331}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{357,331}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{993,345},{341,327}}</string>
                <key>offset</key>
                <string>{8,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,14},{341,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,696},{347,327}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{347,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{666,696},{347,327}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,14},{347,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,345},{357,327}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{357,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,345},{357,327}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{357,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1422},{357,327}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{357,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1422},{357,327}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{357,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{333,1063},{357,327}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{357,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1055},{349,327}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{349,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,1055},{349,327}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{349,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,345},{349,327}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{349,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,345},{349,327}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,14},{349,327}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,704},{349,329}}</string>
                <key>offset</key>
                <string>{4,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,12},{349,329}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{357,329}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{357,329}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1063},{357,329}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{357,329}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{357,331}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{357,331}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
            <key>left_cheer_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,345},{357,331}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{357,331}}</string>
                <key>sourceSize</key>
                <string>{357,341}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_cheer.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:51e01f6d57935cbb61a0daf6cc747a8e$</string>
            <key>textureFileName</key>
            <string>left_cheer.png</string>
        </dict>
    </dict>
</plist>
