<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_happy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{362,2},{358,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,717},{328,353}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1035,717},{328,353}}</string>
                <key>offset</key>
                <string>{-15,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{328,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,717},{334,353}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,717},{334,353}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{338,351}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,351}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1070},{338,351}}</string>
                <key>offset</key>
                <string>{-10,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{338,351}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{330,347}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{330,347}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{330,347}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{330,347}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1423},{330,347}}</string>
                <key>offset</key>
                <string>{-14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{330,347}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1070},{320,349}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1070},{320,349}}</string>
                <key>offset</key>
                <string>{-19,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{320,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1421},{312,349}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{312,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1421},{312,349}}</string>
                <key>offset</key>
                <string>{-23,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{312,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1734},{306,343}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{306,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,1734},{306,343}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,10},{306,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1381},{308,343}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{308,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1723,1381},{308,343}}</string>
                <key>offset</key>
                <string>{-25,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{308,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1036},{310,343}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{310,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1718,1036},{310,343}}</string>
                <key>offset</key>
                <string>{-24,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{310,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,695},{322,339}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{322,339}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,695},{322,339}}</string>
                <key>offset</key>
                <string>{-18,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{322,339}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1423},{340,343}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{340,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,1423},{340,343}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{340,343}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{352,349}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{352,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1072,2},{352,349}}</string>
                <key>offset</key>
                <string>{-3,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{352,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1406},{348,349}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{348,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,1406},{348,349}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{348,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1394},{338,345}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{338,345}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1394},{338,345}}</string>
                <key>offset</key>
                <string>{-10,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{338,345}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1045},{340,347}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{340,347}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1376,1045},{340,347}}</string>
                <key>offset</key>
                <string>{-9,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{340,347}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1053},{342,351}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{342,351}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,1053},{342,351}}</string>
                <key>offset</key>
                <string>{-8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{342,351}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1426,2},{340,349}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{340,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1413,353},{340,349}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{340,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,703},{340,349}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{340,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1365,703},{340,349}}</string>
                <key>offset</key>
                <string>{-9,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,3},{340,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,715},{340,353}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{717,2},{340,353}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,353},{348,351}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{348,351}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,353},{348,351}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{348,351}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1072},{350,349}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{350,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1024,1072},{350,349}}</string>
                <key>offset</key>
                <string>{-4,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{350,349}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,362},{346,353}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,362},{346,353}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{346,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,715},{334,353}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,715},{334,353}}</string>
                <key>offset</key>
                <string>{-12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{334,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,362},{350,353}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,362},{350,353}}</string>
                <key>offset</key>
                <string>{-4,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{350,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{356,353}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{356,353}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{356,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
            <key>left_happy_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{358,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{358,353}}</string>
                <key>sourceSize</key>
                <string>{358,353}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_happy.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2bc878feb6bf4f0af213cd5825a455f9$</string>
            <key>textureFileName</key>
            <string>left_happy.png</string>
        </dict>
    </dict>
</plist>
