<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_anger_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{604,453}}</string>
                <key>offset</key>
                <string>{-8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,70},{604,453}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1057,2},{624,447}}</string>
                <key>offset</key>
                <string>{1,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,76},{624,447}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,658},{638,447}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,76},{638,447}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,457},{638,447}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{64,76},{638,447}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1097},{636,447}}</string>
                <key>offset</key>
                <string>{8,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,76},{636,447}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{654,447}}</string>
                <key>offset</key>
                <string>{17,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,76},{654,447}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1107},{620,427}}</string>
                <key>offset</key>
                <string>{20,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,96},{620,427}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1091,451},{604,427}}</string>
                <key>offset</key>
                <string>{1,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,96},{604,427}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,1536},{602,435}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,88},{602,435}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1073,1107},{526,445}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,82},{526,445}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1055,1554},{520,443}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,79},{520,443}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,880},{510,443}}</string>
                <key>offset</key>
                <string>{21,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,79},{510,443}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,1392},{502,439}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{146,83},{502,439}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_anger2.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8061bfcf3749301f358d1aa762a3abf$</string>
            <key>textureFileName</key>
            <string>dealer_anger2.png</string>
        </dict>
    </dict>
</plist>
