<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_open_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,1380},{483,448}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,81},{483,448}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1456},{483,448}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,81},{483,448}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{1547,1006},{483,448}}</string>
                <key>offset</key>
                <string>{43,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,81},{483,448}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,952},{513,426}}</string>
                <key>offset</key>
                <string>{58,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,103},{513,426}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1633,2},{517,412}}</string>
                <key>offset</key>
                <string>{63,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{171,117},{517,412}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{1591,521},{483,450}}</string>
                <key>offset</key>
                <string>{49,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{174,79},{483,450}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{543,468}}</string>
                <key>offset</key>
                <string>{27,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,62},{543,468}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{557,466}}</string>
                <key>offset</key>
                <string>{16,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,63},{557,466}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,2},{543,468}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,61},{543,468}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1106,2},{525,480}}</string>
                <key>offset</key>
                <string>{1,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,49},{525,480}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1074,484},{515,482}}</string>
                <key>offset</key>
                <string>{-7,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,47},{515,482}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1036,968},{509,492}}</string>
                <key>offset</key>
                <string>{-22,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,37},{509,492}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,940},{517,488}}</string>
                <key>offset</key>
                <string>{-29,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,41},{517,488}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
            <key>dealer_open_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{547,472},{525,478}}</string>
                <key>offset</key>
                <string>{-34,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,51},{525,478}}</string>
                <key>sourceSize</key>
                <string>{733,598}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_open.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:06938e58095692a55a789062682a9431$</string>
            <key>textureFileName</key>
            <string>dealer_open.png</string>
        </dict>
    </dict>
</plist>
