<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_song_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,1017},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1017},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,1017},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1017},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,872},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,872},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,872},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,872},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,866},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,727},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,727},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,727},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,727},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,650},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,582},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,582},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,582},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,437},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,437},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,437},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,437},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,434},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,292},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,292},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,292},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,218},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,147},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,147},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,147},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,147},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
            <key>action_song_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{214,143}}</string>
                <key>sourceSize</key>
                <string>{214,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>song.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9e03cd6c3ead49d794c21538d70ee7f0$</string>
            <key>textureFileName</key>
            <string>song.png</string>
        </dict>
    </dict>
</plist>
