<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pri_btn_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,754},{311,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,367}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_clear_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{581,1160},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_clear_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1450},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_createroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,378},{311,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,367}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_del_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1305},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_del_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,1160},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_invite_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_invite_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,448},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_jiesan_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,448},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_jiesan_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,820},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joingame_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,754},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joingame_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,688},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_joinroom.png</key>
            <dict>
                <key>frame</key>
                <string>{{371,1697},{311,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,367}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_num_0_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1595},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_0_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1450},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_1_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1305},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_1_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,1160},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_2_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{579,886},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_2_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{513,886},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_3_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1031},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_3_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,886},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_4_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,996},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_4_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,996},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,851},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,851},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,706},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{315,706},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_7_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,640},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_7_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,580},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,514},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,448},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_9_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,448},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_num_9_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,448},{143,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,64}}</string>
                <key>sourceSize</key>
                <string>{143,64}</string>
            </dict>
            <key>pri_btn_roomlist.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1697},{311,367}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{311,367}}</string>
                <key>sourceSize</key>
                <string>{311,367}</string>
            </dict>
            <key>pri_btn_sharegrade_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,660},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_sharegrade_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,408},{190,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{190,64}}</string>
                <key>sourceSize</key>
                <string>{190,64}</string>
            </dict>
            <key>pri_btn_switchrecord_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{430,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_btn_switchrecord_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,32},{430,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{430,68}}</string>
                <key>sourceSize</key>
                <string>{430,68}</string>
            </dict>
            <key>pri_sp_award.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,378},{51,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,28}}</string>
                <key>sourceSize</key>
                <string>{51,28}</string>
            </dict>
            <key>pri_sp_createcost.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2010},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_createtime.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,630},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>pri_sp_createuser.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2010},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_dissolvetime.png</key>
            <dict>
                <key>frame</key>
                <string>{{697,600},{101,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,28}}</string>
                <key>sourceSize</key>
                <string>{101,28}</string>
            </dict>
            <key>pri_sp_friend_cellbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,538},{148,246}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,1},{148,246}}</string>
                <key>sourceSize</key>
                <string>{148,248}</string>
            </dict>
            <key>pri_sp_friend_cellbg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{449,378},{158,268}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{158,268}}</string>
                <key>sourceSize</key>
                <string>{158,268}</string>
            </dict>
            <key>pri_sp_ideditbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1160},{535,445}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{535,445}}</string>
                <key>sourceSize</key>
                <string>{535,445}</string>
            </dict>
            <key>pri_sp_listbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1192,374}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1192,374}}</string>
                <key>sourceSize</key>
                <string>{1192,374}</string>
            </dict>
            <key>pri_sp_listline.png</key>
            <dict>
                <key>frame</key>
                <string>{{2034,2},{1156,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1156,2}}</string>
                <key>sourceSize</key>
                <string>{1156,2}</string>
            </dict>
            <key>pri_sp_roomid.png</key>
            <dict>
                <key>frame</key>
                <string>{{1955,2},{77,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,28}}</string>
                <key>sourceSize</key>
                <string>{77,28}</string>
            </dict>
            <key>pri_sp_roominfotitle.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2010},{138,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{138,35}}</string>
                <key>sourceSize</key>
                <string>{138,35}</string>
            </dict>
            <key>pri_sp_roomlimit.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,2010},{102,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,28}}</string>
                <key>sourceSize</key>
                <string>{102,28}</string>
            </dict>
            <key>pri_sp_roomstatus.png</key>
            <dict>
                <key>frame</key>
                <string>{{385,2010},{103,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,28}}</string>
                <key>sourceSize</key>
                <string>{103,28}</string>
            </dict>
            <key>pri_sp_systemtip.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2010},{136,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{136,35}}</string>
                <key>sourceSize</key>
                <string>{136,35}</string>
            </dict>
            <key>pri_sp_tipsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{1196,2},{757,449}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{757,449}}</string>
                <key>sourceSize</key>
                <string>{757,449}</string>
            </dict>
            <key>pri_sp_uinfo.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,2010},{103,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,29}}</string>
                <key>sourceSize</key>
                <string>{103,29}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>room.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e8c23b1f3ef51046a4d21485f6fbce31$</string>
            <key>textureFileName</key>
            <string>room.png</string>
        </dict>
    </dict>
</plist>
