<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>122-title.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,724},{69,23}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,1},{69,23}}</string>
                <key>sourceSize</key>
                <string>{77,27}</string>
            </dict>
            <key>back_btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,961},{77,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{77,80}}</string>
                <key>sourceSize</key>
                <string>{77,80}</string>
            </dict>
            <key>bg_input_password.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{478,285}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{478,285}}</string>
                <key>sourceSize</key>
                <string>{478,285}</string>
            </dict>
            <key>bt_ok_down.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,789},{263,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,1},{263,70}}</string>
                <key>sourceSize</key>
                <string>{267,74}</string>
            </dict>
            <key>bt_ok_up.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,789},{263,70}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,1},{263,70}}</string>
                <key>sourceSize</key>
                <string>{267,74}</string>
            </dict>
            <key>dengjitiao.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,2},{101,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{101,22}}</string>
                <key>sourceSize</key>
                <string>{101,22}</string>
            </dict>
            <key>desk_framback.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,611},{397,134}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{397,134}}</string>
                <key>sourceSize</key>
                <string>{397,134}</string>
            </dict>
            <key>desk_lock.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,611},{26,31}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{26,31}}</string>
                <key>sourceSize</key>
                <string>{26,33}</string>
            </dict>
            <key>desk_noBody.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1183},{87,87}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,87}}</string>
                <key>sourceSize</key>
                <string>{87,87}</string>
            </dict>
            <key>desk_playing.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,747},{337,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{337,40}}</string>
                <key>sourceSize</key>
                <string>{337,40}</string>
            </dict>
            <key>desk_pwd.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,835},{149,41}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,0},{149,41}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>desk_pwd_text.png</key>
            <dict>
                <key>frame</key>
                <string>{{869,962},{236,40}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{236,40}}</string>
                <key>sourceSize</key>
                <string>{238,42}</string>
            </dict>
            <key>desk_quickEnter.png</key>
            <dict>
                <key>frame</key>
                <string>{{871,795},{165,37}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,4},{165,37}}</string>
                <key>sourceSize</key>
                <string>{169,41}</string>
            </dict>
            <key>desk_ready.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,289},{40,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{40,52}}</string>
                <key>sourceSize</key>
                <string>{44,56}</string>
            </dict>
            <key>flag_group.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,961},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>game_page_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,668},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>game_page_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,639},{27,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{27,27}}</string>
                <key>sourceSize</key>
                <string>{27,27}</string>
            </dict>
            <key>group_exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,835},{222,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,124}}</string>
                <key>sourceSize</key>
                <string>{222,124}</string>
            </dict>
            <key>group_join.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,861},{222,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{222,124}}</string>
                <key>sourceSize</key>
                <string>{222,124}</string>
            </dict>
            <key>group_mode.png</key>
            <dict>
                <key>frame</key>
                <string>{{482,2},{427,425}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{427,425}}</string>
                <key>sourceSize</key>
                <string>{427,425}</string>
            </dict>
            <key>level_cat.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,697},{25,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{25,25}}</string>
                <key>sourceSize</key>
                <string>{25,25}</string>
            </dict>
            <key>level_progress.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,1164},{96,17}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{96,17}}</string>
                <key>sourceSize</key>
                <string>{98,19}</string>
            </dict>
            <key>room_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,653},{422,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,180}}</string>
                <key>sourceSize</key>
                <string>{436,180}</string>
            </dict>
            <key>room_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,471},{422,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,180}}</string>
                <key>sourceSize</key>
                <string>{436,180}</string>
            </dict>
            <key>room_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{479,429},{422,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,180}}</string>
                <key>sourceSize</key>
                <string>{436,180}</string>
            </dict>
            <key>room_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,289},{422,180}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{422,180}}</string>
                <key>sourceSize</key>
                <string>{436,180}</string>
            </dict>
            <key>room_menu_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{911,26},{1136,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1136,99}}</string>
                <key>sourceSize</key>
                <string>{1136,99}</string>
            </dict>
            <key>room_type_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,470},{137,51}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,3},{137,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,331},{137,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{137,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,931},{133,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{133,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{361,878},{133,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{133,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,1021},{135,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,884},{135,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,747},{135,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,746},{135,51}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{135,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,609},{135,51}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,3},{135,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>room_type_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,878},{133,51}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{133,51}}</string>
                <key>sourceSize</key>
                <string>{145,55}</string>
            </dict>
            <key>txt_room_score.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{1,1}}</string>
                <key>offset</key>
                <string>{-29.5,29.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>plaza.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:196fcef74e14de8a42d2acbdb7e6e47d$</string>
            <key>textureFileName</key>
            <string>plaza.png</string>
        </dict>
    </dict>
</plist>
