<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>left_cry_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{721,357},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,357},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,357},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1449},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1085},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1085},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,721},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,710},{362,351}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,710},{362,351}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,710},{362,351}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,1067},{358,351}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{358,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1063},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1443,1063},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,357},{362,351}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,357},{362,351}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,357},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1063},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1081,1063},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,1418},{360,351}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{360,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,712},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{719,712},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,712},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,712},{360,353}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{360,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{362,353}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{362,353}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,357},{362,351}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
            <key>left_cry_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1085,357},{362,351}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{362,351}}</string>
                <key>sourceSize</key>
                <string>{362,353}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_cry.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2242b2ab44fa3afc35f012ac01eb97ac$</string>
            <key>textureFileName</key>
            <string>left_cry.png</string>
        </dict>
    </dict>
</plist>
