<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>backtime_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,352},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>backtime_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,323},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>backtime_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{561,309},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>backtime_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{517,309},{42,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{42,21}}</string>
                <key>sourceSize</key>
                <string>{42,21}</string>
            </dict>
            <key>backtime_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,437},{43,21}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{43,21}}</string>
                <key>sourceSize</key>
                <string>{43,21}</string>
            </dict>
            <key>bg_clock.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,355},{74,80}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{74,80}}</string>
                <key>sourceSize</key>
                <string>{74,80}</string>
            </dict>
            <key>bt_back.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,437},{73,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{73,56}}</string>
                <key>sourceSize</key>
                <string>{73,56}</string>
            </dict>
            <key>bt_chat_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{639,170},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>bt_chat_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,170},{58,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,57}}</string>
                <key>sourceSize</key>
                <string>{58,57}</string>
            </dict>
            <key>bt_exit_setOxex_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{243,363},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>bt_exit_setOxex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,376},{86,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,88}}</string>
                <key>sourceSize</key>
                <string>{86,88}</string>
            </dict>
            <key>bt_help_oxex_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{457,375},{42,58}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,2},{42,58}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>bt_help_oxex_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,174},{44,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,60}}</string>
                <key>sourceSize</key>
                <string>{44,60}</string>
            </dict>
            <key>bt_off_oxex.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,352},{150,72}}</string>
                <key>offset</key>
                <string>{2,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{150,72}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bt_on_oxex.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,235},{150,72}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,72}}</string>
                <key>sourceSize</key>
                <string>{154,72}</string>
            </dict>
            <key>bt_opencard_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_opencard_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,301},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_ready_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{653,301},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{582,332},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_robot_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{698,170},{52,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{52,57}}</string>
                <key>sourceSize</key>
                <string>{52,57}</string>
            </dict>
            <key>bt_robot_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,170},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>bt_sdcp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,2},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_sdcp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{596,230},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_setting_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,170},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>bt_setting_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,174},{58,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{58,59}}</string>
                <key>sourceSize</key>
                <string>{58,59}</string>
            </dict>
            <key>bt_tips_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,2},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_tips_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{549,2},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_zdcp_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>bt_zdcp_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,2},{166,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{166,69}}</string>
                <key>sourceSize</key>
                <string>{166,69}</string>
            </dict>
            <key>btn_ready_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,2},{236,81}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{236,81}}</string>
                <key>sourceSize</key>
                <string>{236,83}</string>
            </dict>
            <key>chag_frame.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{372,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{372,51}}</string>
                <key>sourceSize</key>
                <string>{372,51}</string>
            </dict>
            <key>dizhu.png</key>
            <dict>
                <key>frame</key>
                <string>{{335,328},{55,25}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{55,25}}</string>
                <key>sourceSize</key>
                <string>{55,25}</string>
            </dict>
            <key>double_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{331,357},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>game_chat_0.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,2},{172,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{172,42}</string>
            </dict>
            <key>game_chat_1.9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{172,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,42}}</string>
                <key>sourceSize</key>
                <string>{172,42}</string>
            </dict>
            <key>game_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,329},{28,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,29}}</string>
                <key>sourceSize</key>
                <string>{28,29}</string>
            </dict>
            <key>laba_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{446,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{446,46}}</string>
                <key>sourceSize</key>
                <string>{446,46}</string>
            </dict>
            <key>no_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,240},{86,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{86,48}}</string>
                <key>sourceSize</key>
                <string>{86,48}</string>
            </dict>
            <key>player_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{121,170}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{121,170}}</string>
                <key>sourceSize</key>
                <string>{121,170}</string>
            </dict>
            <key>roomlist_head_bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,365},{91,93}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{91,93}}</string>
                <key>sourceSize</key>
                <string>{91,93}</string>
            </dict>
            <key>sp_banker.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,170},{67,65}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{67,65}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>sp_bomb.png</key>
            <dict>
                <key>frame</key>
                <string>{{357,236},{85,48}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{85,48}}</string>
                <key>sourceSize</key>
                <string>{87,50}</string>
            </dict>
            <key>sp_effect.png</key>
            <dict>
                <key>frame</key>
                <string>{{437,315},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>sp_five_f_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,240},{123,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,46}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>sp_five_s_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{113,240},{123,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{123,46}}</string>
                <key>sourceSize</key>
                <string>{125,48}</string>
            </dict>
            <key>sp_four_f_ox.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,240},{121,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{121,46}}</string>
                <key>sourceSize</key>
                <string>{123,48}</string>
            </dict>
            <key>sp_music.png</key>
            <dict>
                <key>frame</key>
                <string>{{407,235},{78,35}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{78,35}}</string>
                <key>sourceSize</key>
                <string>{78,35}</string>
            </dict>
            <key>sp_title_set.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,176},{156,62}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,62}}</string>
                <key>sourceSize</key>
                <string>{156,62}</string>
            </dict>
            <key>tanpai.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,240},{87,48}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,0},{87,48}}</string>
                <key>sourceSize</key>
                <string>{89,48}</string>
            </dict>
            <key>tips_wait_opencard.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{460,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{460,56}}</string>
                <key>sourceSize</key>
                <string>{460,56}</string>
            </dict>
            <key>zhunbei.png</key>
            <dict>
                <key>frame</key>
                <string>{{287,329},{46,26}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,0},{46,26}}</string>
                <key>sourceSize</key>
                <string>{48,26}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{1024,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7608e91cc87fbed03f5d6da65e9ebae1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
