<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>jump_dadao_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{575,1194},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{363,1194},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,1194},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1698},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_dadao_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1486},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1062},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,1045},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1045},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_futou_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,1045},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1045},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,896},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,896},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,896},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,896},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,850},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,747},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,747},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,747},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_lu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,747},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,638},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,598},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,598},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,598},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_shz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,598},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,449},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,449},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,449},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,449},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_song_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,426},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,300},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,300},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,300},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,300},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_ttxd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,214},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,151},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,151},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,151},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_yin_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,151},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
            <key>jump_zyt_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,147}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{210,147}}</string>
                <key>sourceSize</key>
                <string>{210,147}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game1_itemJump.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:189c7b96067e5631134fc2fd1085737c$</string>
            <key>textureFileName</key>
            <string>game1_itemJump.png</string>
        </dict>
    </dict>
</plist>
