<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_happy_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{559,474}}</string>
                <key>offset</key>
                <string>{-51,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,77},{559,474}}</string>
                <key>sourceSize</key>
                <string>{733,622}</string>
            </dict>
            <key>dealer_happy_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{563,404},{445,494}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,57},{445,494}}</string>
                <key>sourceSize</key>
                <string>{733,622}</string>
            </dict>
            <key>dealer_happy_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,900},{525,414}}</string>
                <key>offset</key>
                <string>{-45,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,137},{525,414}}</string>
                <key>sourceSize</key>
                <string>{733,622}</string>
            </dict>
            <key>dealer_happy_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{529,416}}</string>
                <key>offset</key>
                <string>{-38,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,135},{529,416}}</string>
                <key>sourceSize</key>
                <string>{733,622}</string>
            </dict>
            <key>dealer_happy_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,400}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,151},{651,400}}</string>
                <key>sourceSize</key>
                <string>{733,622}</string>
            </dict>
            <key>dealer_happy_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{529,416}}</string>
                <key>offset</key>
                <string>{-38,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,135},{529,416}}</string>
                <key>sourceSize</key>
                <string>{733,622}</string>
            </dict>
            <key>dealer_happy_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,400}}</string>
                <key>offset</key>
                <string>{0,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,151},{651,400}}</string>
                <key>sourceSize</key>
                <string>{733,622}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_happy.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:03bd4e1b1a9f005593eb04bc6c34971a$</string>
            <key>textureFileName</key>
            <string>dealer_happy.png</string>
        </dict>
    </dict>
</plist>
