<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_anger_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,1437},{576,437}}</string>
                <key>offset</key>
                <string>{24,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{111,86},{576,437}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,1437},{564,453}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{103,70},{564,453}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{668,2},{660,531}}</string>
                <key>offset</key>
                <string>{-29,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,0},{660,531}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{664,415}}</string>
                <key>offset</key>
                <string>{0,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,117},{664,415}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,2},{644,401}}</string>
                <key>offset</key>
                <string>{12,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,131},{644,401}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,419},{648,399}}</string>
                <key>offset</key>
                <string>{13,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,133},{648,399}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1330,405},{636,445}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,91},{636,445}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,820},{628,455}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,76},{628,455}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,535},{630,449}}</string>
                <key>offset</key>
                <string>{5,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,74},{630,449}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,986},{608,449}}</string>
                <key>offset</key>
                <string>{-7,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,74},{608,449}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1437},{590,451}}</string>
                <key>offset</key>
                <string>{-15,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,72},{590,451}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1284,852},{622,451}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,72},{622,451}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
            <key>dealer_anger_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,1305},{496,439}}</string>
                <key>offset</key>
                <string>{22,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{149,83},{496,439}}</string>
                <key>sourceSize</key>
                <string>{750,557}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_anger1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebb437d2a333a890922cbfbd7b4ab247$</string>
            <key>textureFileName</key>
            <string>dealer_anger1.png</string>
        </dict>
    </dict>
</plist>
