<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>right_cheer_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,632},{343,312}}</string>
                <key>offset</key>
                <string>{14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,30},{343,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,622},{347,312}}</string>
                <key>offset</key>
                <string>{12,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,30},{347,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{367,628},{353,312}}</string>
                <key>offset</key>
                <string>{9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,30},{353,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1518,2},{375,314}}</string>
                <key>offset</key>
                <string>{-2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,28},{375,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{377,316}}</string>
                <key>offset</key>
                <string>{-2,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,26},{377,316}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,310},{373,320}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,22},{373,320}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,318},{347,342}}</string>
                <key>offset</key>
                <string>{12,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,0},{347,342}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{363,326}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,16},{363,326}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,2},{377,312}}</string>
                <key>offset</key>
                <string>{-2,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,30},{377,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1139,2},{377,306}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{377,306}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{377,306}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,36},{377,306}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{381,316},{373,310}}</string>
                <key>offset</key>
                <string>{-1,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,32},{373,310}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1135,310},{359,310}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,31},{359,310}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,648},{349,312}}</string>
                <key>offset</key>
                <string>{11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,30},{349,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,662},{335,312}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{335,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,946},{325,314}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,28},{325,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1276},{317,314}}</string>
                <key>offset</key>
                <string>{27,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,28},{317,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1592},{315,314}}</string>
                <key>offset</key>
                <string>{28,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,28},{315,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{658,1262},{307,314}}</string>
                <key>offset</key>
                <string>{22,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,28},{307,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{629,1572},{309,314}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,28},{309,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1017,1252},{313,312}}</string>
                <key>offset</key>
                <string>{23,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{57,30},{313,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1592},{309,314}}</string>
                <key>offset</key>
                <string>{25,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,28},{309,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1241,1567},{301,312}}</string>
                <key>offset</key>
                <string>{24,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,30},{301,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1571},{299,314}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,28},{299,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,1571},{299,314}}</string>
                <key>offset</key>
                <string>{26,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,28},{299,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{339,1256},{317,314}}</string>
                <key>offset</key>
                <string>{21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,28},{317,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1067,936},{333,314}}</string>
                <key>offset</key>
                <string>{13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,28},{333,314}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{335,312}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,30},{335,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
            <key>right_cheer_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,942},{335,312}}</string>
                <key>offset</key>
                <string>{18,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,30},{335,312}}</string>
                <key>sourceSize</key>
                <string>{381,342}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>left_cheer.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:661665b0a49c0ea55f53c5b2dddb2210$</string>
            <key>textureFileName</key>
            <string>left_cheer.png</string>
        </dict>
    </dict>
</plist>
