<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dealer_dice_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{1018,2},{483,440}}</string>
                <key>offset</key>
                <string>{36,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{483,440}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,442},{483,438}}</string>
                <key>offset</key>
                <string>{36,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,76},{483,438}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,2},{483,440}}</string>
                <key>offset</key>
                <string>{36,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,74},{483,440}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{1503,2},{483,438}}</string>
                <key>offset</key>
                <string>{36,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,76},{483,438}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{529,446}}</string>
                <key>offset</key>
                <string>{28,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,68},{529,446}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{533,444},{481,426}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,68},{481,426}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,444},{435,416}}</string>
                <key>offset</key>
                <string>{-39,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,56},{435,416}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{407,394}}</string>
                <key>offset</key>
                <string>{-26,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,48},{407,394}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,1564},{379,338}}</string>
                <key>offset</key>
                <string>{-7,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,102},{379,338}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,1218},{387,344}}</string>
                <key>offset</key>
                <string>{-13,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,96},{387,344}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1449,882},{401,348}}</string>
                <key>offset</key>
                <string>{-8,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,92},{401,348}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{397,340}}</string>
                <key>offset</key>
                <string>{-4,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,100},{397,340}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{718,1564},{385,350}}</string>
                <key>offset</key>
                <string>{-11,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,90},{385,350}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{411,872},{399,356}}</string>
                <key>offset</key>
                <string>{-9,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,84},{399,356}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1544},{393,360}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{91,80},{393,360}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,1544},{387,352}}</string>
                <key>offset</key>
                <string>{-2,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{97,88},{387,352}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{431,354}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{431,354}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
            <key>dealer_dice_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,862},{431,354}}</string>
                <key>offset</key>
                <string>{-23,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,86},{431,354}}</string>
                <key>sourceSize</key>
                <string>{585,556}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dealer_dice1.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4f96be00187fdd06d9c69bb7ba7774ca$</string>
            <key>textureFileName</key>
            <string>dealer_dice1.png</string>
        </dict>
    </dict>
</plist>
