<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_dagu_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,230},{162,112}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,27},{162,112}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,462},{158,114}}</string>
                <key>offset</key>
                <string>{3,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,26},{158,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,118},{168,116}}</string>
                <key>offset</key>
                <string>{5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,23},{168,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{702,120},{164,116}}</string>
                <key>offset</key>
                <string>{6,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{164,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{158,116}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{158,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,354},{158,114}}</string>
                <key>offset</key>
                <string>{3,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,23},{158,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,2},{160,118}}</string>
                <key>offset</key>
                <string>{1,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,24},{160,118}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,344},{160,116}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,24},{160,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,470},{156,116}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,24},{156,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{168,116}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,26},{168,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,236},{160,116}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,23},{160,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,466},{156,112}}</string>
                <key>offset</key>
                <string>{3,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,26},{156,112}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,238},{162,116}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{162,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{662,356},{156,112}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,27},{156,112}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,350},{158,114}}</string>
                <key>offset</key>
                <string>{4,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,25},{158,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{172,112}}</string>
                <key>offset</key>
                <string>{4,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{172,112}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,116},{172,112}}</string>
                <key>offset</key>
                <string>{13,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,27},{172,112}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,240},{162,110}}</string>
                <key>offset</key>
                <string>{3,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,29},{162,110}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{152,116}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{152,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,578},{152,116}}</string>
                <key>offset</key>
                <string>{-1,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,23},{152,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,118},{166,114}}</string>
                <key>offset</key>
                <string>{5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,28},{166,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{534,234},{164,114}}</string>
                <key>offset</key>
                <string>{2,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,24},{164,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,470},{154,114}}</string>
                <key>offset</key>
                <string>{1,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,25},{154,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,284},{158,116}}</string>
                <key>offset</key>
                <string>{2,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,24},{158,116}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,164},{154,118}}</string>
                <key>offset</key>
                <string>{2,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,24},{154,118}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{186,122}}</string>
                <key>offset</key>
                <string>{13,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,21},{186,122}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{178,112}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,28},{178,112}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{544,2},{170,114}}</string>
                <key>offset</key>
                <string>{3,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,28},{170,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
            <key>action_dagu_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,2},{172,114}}</string>
                <key>offset</key>
                <string>{9,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,28},{172,114}}</string>
                <key>sourceSize</key>
                <string>{212,174}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>dagu.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a5a04a3941e1e97a9c2ff18c2f6ecb9e$</string>
            <key>textureFileName</key>
            <string>dagu.png</string>
        </dict>
    </dict>
</plist>
