<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>game1_flash_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{202,49}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{202,49}}</string>
                <key>sourceSize</key>
                <string>{202,49}</string>
            </dict>
            <key>game1_flash_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{188,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,58}}</string>
                <key>sourceSize</key>
                <string>{188,58}</string>
            </dict>
            <key>game1_flash_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,237},{183,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{183,58}}</string>
                <key>sourceSize</key>
                <string>{183,58}</string>
            </dict>
            <key>game1_flash_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{181,65}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{181,65}}</string>
                <key>sourceSize</key>
                <string>{181,65}</string>
            </dict>
            <key>game1_flash_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,113},{189,63}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,63}}</string>
                <key>sourceSize</key>
                <string>{189,63}</string>
            </dict>
            <key>game1_flash_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,53},{191,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{191,58}}</string>
                <key>sourceSize</key>
                <string>{191,58}</string>
            </dict>
            <key>game1_flash_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,422},{173,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{173,64}}</string>
                <key>sourceSize</key>
                <string>{173,64}</string>
            </dict>
            <key>game1_flash_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{195,53},{182,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,59}}</string>
                <key>sourceSize</key>
                <string>{182,59}</string>
            </dict>
            <key>game1_flash_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,363},{141,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,64}}</string>
                <key>sourceSize</key>
                <string>{141,64}</string>
            </dict>
            <key>game1_flash_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{186,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,56}}</string>
                <key>sourceSize</key>
                <string>{186,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>flash.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:737a1bf9aff4ed6765c3da24544c05c6$</string>
            <key>textureFileName</key>
            <string>flash.png</string>
        </dict>
    </dict>
</plist>
