<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_shz_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1730},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1586},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1479},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1442},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1298},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1901},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1690},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1479},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1268},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1154},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1154},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1901},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1690},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1479},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1268},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1901},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1690},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1479},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1268},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,1057},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,1010},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1010},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,1010},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,866},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,866},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,866},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,846},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,722},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,722},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,722},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,635},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,578},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,578},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,578},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,434},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,434},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,434},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,424},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,290},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,290},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,290},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,213},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,146},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,146},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,146},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{846,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{635,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_55.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_56.png</key>
            <dict>
                <key>frame</key>
                <string>{{213,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
            <key>action_shz_57.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{209,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{209,142}}</string>
                <key>sourceSize</key>
                <string>{209,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shuihuzhuan.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:238bfa8e2ef0d5a6a52da7e36e62f29b$</string>
            <key>textureFileName</key>
            <string>shuihuzhuan.png</string>
        </dict>
    </dict>
</plist>
