<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_ttxd_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1154},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1874},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1666},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1458},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1250},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1874},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1666},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1458},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1042},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,1010},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1010},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1010},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,866},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,866},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,866},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,834},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,722},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,722},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,722},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,626},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,578},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,578},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,578},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,434},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,434},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,434},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,418},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,290},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,290},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,290},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,210},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,146},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,146},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,146},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,2},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
            <key>action_ttxd_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{206,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{206,142}}</string>
                <key>sourceSize</key>
                <string>{206,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>titianxingdao.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f33a199e67a2a660ed9aeeba1e052df$</string>
            <key>textureFileName</key>
            <string>titianxingdao.png</string>
        </dict>
    </dict>
</plist>
