<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>action_yinqiang_01.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,1154},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_02.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1154},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_03.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1706},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_04.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1493},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_05.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1280},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_06.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,1067},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_07.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,1010},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_08.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1010},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_09.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,1010},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,866},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,866},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,866},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,866},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,854},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,722},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,722},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_19.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,722},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_20.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,722},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_21.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,722},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_22.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,722},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_24.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,641},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_25.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,578},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_26.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,578},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_27.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,578},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_28.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,578},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_31.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,434},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_32.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,434},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_33.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,434},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_34.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,434},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_35.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,434},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_38.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,428},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_39.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,290},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_40.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,290},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_41.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,290},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_42.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,290},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_43.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,290},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_45.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,215},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_46.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,146},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_47.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,146},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_48.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,146},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_50.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,2},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_51.png</key>
            <dict>
                <key>frame</key>
                <string>{{641,2},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_52.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,2},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_53.png</key>
            <dict>
                <key>frame</key>
                <string>{{215,2},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
            <key>action_yinqiang_54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{211,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{211,142}}</string>
                <key>sourceSize</key>
                <string>{211,142}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>yinqiang.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:79cff63b6b70c7fa7476970b914e5b30$</string>
            <key>textureFileName</key>
            <string>yinqiang.png</string>
        </dict>
    </dict>
</plist>
